* {
    box-sizing: border-box;
  }
  @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
  body {
    font-size: 14px;
    
  }
  
  .containerPage {
    width: 375px;
    height: 812px;
    background: rgba(59,47,59,1);
    opacity: 1;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: rgba(255,255,255,1);
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .titlePrijava {
    width: 383px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 559px;
    left: 25px;
    font-family: Poppins;
    font-weight: SemiBold Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .circle1 {
    width: 120px;
    height: 124px;
    background: rgba(236,199,191,1);
    opacity: 1;
    position: absolute;
    top: -50px;
    left: 12px;
    border-radius: 50%;
  }
  .exitbtn {
    width: 30px;
    height: 30px;
    background: rgba(236,199,191,1);
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font: bold;
    border-radius: 50%;
    text-align: center;
  }
  .exitbtn:hover{
    background: transparent;
    border-color: rgba(140,202,197,1);
    border: 1px solid;
  }


  .circle2 {
    width: 211px;
    height: 211px;
    background: rgba(249,174,135,1);
    opacity: 1;
    position: absolute;
    top: -3px;
    left: -100px;
    border-radius: 50%;
  }
  .circle3 {
    width: 145px;
    height: 145px;
    background: rgba(140,202,197,1);
    opacity: 1;
    position: absolute;
    top: 115px;
    left: -20%;
    border-radius: 50%;
  }
.errorMsg{
    margin: auto;
    position: absolute;
    top: 490px;
    width: 165px;
    height: 30px;
    left: 25px;
    color: chartreuse;
}
.errTxt{
  color: rgba(140,202,197,1);
  font-family: Poppins;
  font-weight: Bold Italic;
  font-size: 16px;
  background: transparent;
  border-radius: 30px;
}
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .titleKorisnickoime {
    width: 280px;
    background: transparent;
    color: rgba(145,145,145,1);
    position: absolute;
    top: 615px;
    left: 37px;
    font-family: Poppins;
    font-weight: SemiBold Italic;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    padding-left: 10px;
    border: hidden;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
  .titlepass {
    width: 250px;
    background: transparent;
    color: rgba(145,145,145,1);
    position: absolute;
    top: 667px;
    left: 39px;
    font-family: Poppins;
    font-weight: SemiBold Italic;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    padding-left: 10px;
    border: hidden;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;;
  }
  .containerPW {
    width: 37px;
    height: 37px;
    position: absolute;
    top: 658px;
    left: 290px;
    
  }
  .containerPW img{
    height: 100%;
    opacity: 0.7;
  }

  .btnLogindiv{
    top: 712px;
    left: 112px;
    width: 100%;
    position: absolute;
  }
  .loginbtn{
    margin: auto;
    width: 129px;
    height: 33px;
    background: rgba(236,199,191,1);
    padding: 3px 44px;
    color: rgba(255,255,255,1);
    font-family: Poppins;
    font-weight: SemiBold Italic;
    font-size: 14px;
    text-align: center;
    border-color: transparent;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
  .loginbtn:hover{
    color:rgba(140,202,197,1);
    background-color: transparent;
    border-color: rgba(140,202,197,1);
  }

  .containerbottom{
    position:relative;
  }
  .recoverydiv{
    top: 750px;
    position: relative;
    text-align: center;
  }
  .txtForgot {
    width: 109px;
    color: rgba(145,145,145,1);
    font-family: Poppins;
    font-weight: Italic;
    font-size: 10px;
  }
  .txtRecover {
    width: 109px;
    color: aquamarine;
    font-family: Poppins;
    font-weight: Italic;
    font-size: 10px;
  }

  .underline{
    position:absolute;
    width: 295px;
    height: 1px;
    background: rgba(236,199,191,0.5);
    top: 695px;
    left: 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .underline2{
    position:absolute;
    width: 295px;
    height: 1px;
    background: rgba(236,199,191,0.5);
    top: 640px;
    left: 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .spinner{
    position: absolute;
    top: 559px;
    right: 50px;
    size: 8px;
    opacity: 0.3;

  }
  